html {
  background-color: #2d2e2e;
}

#question,
.question {
  width: 40%;
  margin: 5rem auto 2.5rem;
  transition: opacity 1.5s ease-in-out;
}

#question-count {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  font-size: 30px;
  color: #e4f2f7;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

a#review-wrong {
  display: none;
}

a#review-wrong svg {
  stroke: #e4f2f7;
  fill: #e4f2f7;
  opacity: 0.5;
  height: 1rem;
}

a#review-wrong.has-wrong {
  display: unset;
}

table#right-wrong-counts {
  font-size: 18px;
  text-align: right;
  float: right;
}

table#right-wrong-counts tr > td:nth-child(2) {
  padding-left: 8px;
}

#answered,
#remaining {
  padding: 1rem;
}

#result {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#ex,
#check {
  display: none;
  transition: opacity 1.5s ease-in-out;
}

.exone,
.extwo {
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  animation: drawexone 2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes drawexone {
  0% {
    stroke-dashoffset: 135;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.check {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: drawcheck 2s linear 1;
}

@keyframes drawcheck {
  0% {
    stroke-dashoffset: 220;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.answer {
  margin: 2rem 1rem;
  display: block;
}

label {
  font-size: 18px;
  color: #e8eded;
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin-left: 2rem;
  display: block;
}

#questionImage {
  max-height: 15rem;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 8rem auto 3rem;
  object-fit: contain;
}

#question-p {
  font-size: 23px;
  line-height: 35px;
  background-color: #e8eded;
  color: #2d2e2e;
  padding: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  max-width: 40rem;
  border-radius: 3px;
}

.default-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  z-index: 2;
  margin-top: 6px;
}

.answer.review .default-check,
.answer.review .default-check ~ * {
  cursor: unset;
}

.answer:not(.review) .default-check:hover ~ .check {
  background-color: #cf142b !important;
  border: 2px solid #fff;
}

.check {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #defcf8;
  border: 2px solid #94b5b1;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 3px;
}

.answer input:checked ~ .check {
  background-color: #fdda16 !important;
  border: 2px solid #fff;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.answer input:checked ~ .check:after {
  display: block;
}

#results {
  color: #e4f2f7;
  display: none;
}

.score {
  width: 25%;
  margin: 10rem auto 4rem;
  text-align: center;
  padding: 1rem 0 3rem;
  border: 3px solid #e4f2f7;
  font-size: 33px;
  font-family: "Oswald", sans-serif;
}

.score-title {
  display: inline-block;
  font-size: 50px;
  font-weight: 200;
  color: #defcf8;
  font-family: "Oswald", sans-serif;
  margin: 1rem;
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
}

#percentage {
  margin: 1rem;
}

.score #correct,
.score #total,
.score span {
  font-size: 28px;
}

#correct,
#total {
  display: inline;
  padding: 1rem;
}

.try-again {
  font-size: 25px;
  font-weight: 400;
  border: 7px double #949494;
  padding: 6px 45px 10px;
  background-color: #2d2e2e;
  font-family: "Oswald", sans-serif;
  color: #e4f2f7;
  transition: padding 0.5s ease, border-radius 0.5s ease;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

.try-again:hover {
  cursor: pointer;
  padding: 6px 10px 10px;
  border-radius: 10px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

@media screen and (max-width: 1140px) {
  .score {
    width: 35%;
  }
  #question-p {
    font-size: 20px;
    padding: 1.5rem;
  }
  label {
    font-size: 17px;
    padding-top: 2px;
  }
  #question-count {
    margin: 2rem 1.5rem;
    font-size: 25px;
  }
}

@media (hover: none) {
  .default-check:hover ~ .check {
    background-color: #defcf8 !important;
    border: 2px solid #94b5b1;
  }
}

@media screen and (max-width: 1000px) {
  #question,
  .question {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  .score {
    width: 45%;
  }
  .try-again {
    font-size: 21px;
  }
}

@media screen and (max-width: 700px) {
  #question {
    width: 70%;
  }
  #question-p {
    font-size: 18px;
    line-height: 22px;
    padding: 1rem 1.5rem;
  }
  label {
    font-size: 16px;
    padding-top: 3px;
  }
  .answer {
    margin: 1.5rem 1rem;
  }
}

@media screen and (max-width: 650px) {
  .score {
    width: 55%;
  }
  .score-title {
    font-size: 45px;
  }
  .score #correct,
  .score #total,
  .score span {
    font-size: 26px;
  }
  #percentage {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  #question {
    width: 85%;
  }
  #question-p {
    font-size: 17px;
  }
  #question-count {
    margin: 1.5rem 1rem;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .score {
    width: 75%;
    margin: 7rem auto 3rem;
  }
  .score-title {
    font-size: 40px;
  }
  .score #correct,
  .score #total,
  .score span {
    font-size: 24px;
  }
  #percentage {
    font-size: 28px;
  }
  .try-again {
    padding: 4px 29px 8px;
  }
  #question {
    width: 90%;
  }
  #question-p {
    font-size: 16px;
  }
  label {
    font-size: 15px;
  }
  .answer {
    margin: 1.5rem 0.5rem;
  }
  #questionImage {
    margin: 6rem auto 2rem;
  }
}

@media screen and (max-width: 360px) {
  .score {
    width: 80%;
    margin: 5rem auto 2rem;
  }
  .score-title {
    font-size: 35px;
  }
  .score #correct,
  .score #total,
  .score span {
    font-size: 22px;
  }
  #percentage {
    font-size: 26px;
  }
  .try-again {
    padding: 4px 26px 8px;
  }
  #questionImage {
    margin: 5rem auto 1rem;
  }
  #question-count {
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    position: unset;
  }
}

footer {
  color: #e4f2f7;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  opacity: 0.5;
}

footer  a:visited, a {
    color: #e4f2f7;
  }